<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>	
<form action="{% url 'add' %}" method="post">
{% csrf_token %}
<h1>Add Contact</h1>
  <label for="title">Name</label><br />
  <input type="text" name="name" id="name" />
  <br>
  <label for="text">Address</label><br />
  <textarea name="address" id="address"></textarea>
  <br><br>
  <label for="title">Tel</label><br />
  <input type="text" name="tel" id="tel" />
  <br>
  <label for="title">Email</label><br />
  <input type="text" name="email" id="email" />
  <br>
  <input type="submit" value="Submit" />
</form>
<br>
<a href="/contacts">Go Back</a>

</body>
</html>


